[submodule "third-party/DPVO"]
	path = third-party/DPVO
	url = https://github.com/princeton-vl/DPVO.git
[submodule "third-party/sapiens"]
	path = third-party/sapiens
	url = https://github.com/facebookresearch/sapiens.git
[submodule "third-party/CoTracker"]
	path = third-party/CoTracker
	url = https://github.com/facebookresearch/co-tracker.git
